#Data types and structures

Questions

1. What are data structures, and why are they important?

- Data structures are ways to organize and store data efficiently. They help in performing operations like searching, sorting, and data manipulation.

2. Explain the difference between mutable and immutable data types with examples?

- mutable types can be changed after creation(e.g, list, dict). Immutable types cannot be changed(e.g tuple, string)

3. What are the main differences between lists and tuples in Python ?

- List are mutables and slower; tuples are immutable and faster.

4. Describe how dictionaries store data?

- Dictionaries store data as key-vale pairs using hash table internally.

5. Why might you use a set instead of a list in Python?

- Sets store uniquw items and provide faster membership tests.

6. What is a string in Python, and how is it different from a list?

- A string is an immutable items and provide faster memberships tests.

7.  How do tuples ensure data integrity in Python?

- Tuples are immutable, preventing accidental changes.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table maps keys to value using a hash function. Divtionaries use this internally.

9. Can lists contain different data types in Python?

- yes.

10. Explain why strings are immutable in Python?

- Immutablility allows for safe sharing and optimization in memory usage.

11. What advantages do dictionaries offer over lists for certain tasks?

- Fast lookups, better data association using keys, and efficient updates.

12. Describe a scenario where using a tuple would be preferable over a list?

13.  How do sets handle duplicate values in Python?

- Sets automatically remove duplicates; only unique elements are stored.

14. How does the “in” keyword work differently for lists and dictionaries?

- In lists, checks if a value exists, in dictionaries, checks if a key exits.

15. Can you modify the elements of a tuple? Explain why or why not?

- No

16. What is a nested dictionary, and give an example of its use case?

- A dictionary within another dictionary. Example: storing data with subject wise marks.

17. Describe the time complexity of accessing elements in a dictionary?

- Average time complexity is O(1).

18. In what situations are lists preferred over dictionaries?

- When order or matters or when storing a simple sequence of values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

- Traditionally unordered, key based access remains efficient, not affected by order.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

- Lists use index-based retrieval, dictionaries use key-based retrieval (faster and more direct)

Practicals

In [2]:
#Write a code to create a string with your name and print it.
name = "Yash"
print (name)

Yash

In [5]:
#Write a code to find the length of the string "Hello World.

print (len("Hello World"))

11

In [6]:
#Write a code to slice the first 3 characters from the string "Python Programming"?
text= "Python Programming"
print(text[:3])

Pyt

In [7]:
#Write a code to convert the string "hello" to uppercase?
print ("hello".upper())

HELLO

In [8]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"?
sentence = "I like apple"
print(sentence.replace("apple" , "orange"))

I like orange

In [9]:
#Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
numbers= [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [11]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [12]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [14]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [15]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [16]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [17]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [18]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals= ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [19]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')
print('kiwi in fruits')

kiwi in fruits

In [20]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print (s)

{'c', 'b', 'a'}

In [22]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [23]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [24]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a={1, 2, 3}
b={3, 4, 5}
print(a.intersection(b))

{3}

In [27]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {'name': 'John', 'age': 25, 'city' : 'Delhi'}
person ['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'city': 'Delhi', 'country': 'USA'}

In [30]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name' : 'John', 'age' : 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name' : 'Alice', 'age' : 30}
print(person['name'])

Alice

In [33]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [36]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4,5,6)
my_dict = {'a' : 1, 'b' : 2}
print (my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [37]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[17, 25, 67, 74, 87]

In [38]:
 #Write a code to create a list with strings and print the element at the third index
 words = ('apple', 'banana', 'cherry', 'dating', 'elderberry')
 print(words[3])

dating

In [40]:
 #Write a code to combine two dictionaries into one and print the result.
 dict1 = {'a':1, 'b':2}
 dict2 = {'c': 3, 'd':4}
 combined = {**dict1, **dict2}
 print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
#Write a code to convert a list of strings into a set.
words = ['apple', 'banana', 'apple', 'cherry']
word_set = set(words)
print(word_set)

{'banana', 'cherry', 'apple'}